.dear {
    padding: 5rem 0;
    text-align: center;

    background-color: #e2d2d1;

    font-size: 1rem;

    &__title {
        font-size: 3em;
        font-weight: 700;

        margin-bottom: 2em;
    }

    &__text {
        font-weight: 500;
        font-size: 1.4em;
    }
}