.galery {
    padding: 5rem 0;
    background-color: #e2d2d1;

    text-align: center;

    font-size: 1rem;

    &__title {
        font-size: 4em;
        margin-bottom: 5rem;
    }

    @include breakpoint($bp-sm) {
        font-size: 10vw;
        padding: 3rem 0;
        
        &__title {
            margin-bottom: 3rem;
            font-size: 1em;
        }
    }

    &__inner {
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1vw;

        &-item {
            width: 32.5%;

            margin-top: 1vw;

            overflow: hidden;

            cursor: pointer;

            img {
                width: 100%;

                transition: transform 5s linear;

                &:hover {
                    transform: scale(1.3);
                }
            }
        }
    }
}