.header {
    background-color: lighten($color-primary, 10%);
    box-shadow: 1px 1px 5px darken($color-primary, 20%);

    padding: 16px 0 18px 0;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    @include breakpoint($bp-md) {
        padding: 10px 0 12px 0;
    }

    &__nav {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 20px;
            font-weight: 900;

            position: relative;

            li {
                text-align: center;
                margin-right: 3%;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    a {
                        &:after {
                            background-color: $color-secondary;
                        }
                    }
                }

                a {
                    color: $color-secondary;
                    text-decoration: none;
                    transition: text-shadow .3s ease;

                    position: relative;

                    &:after {
                        content: "";
                        display: block;
                        height: 2px;
                        width: 100%;

                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        z-index: 1;

                        transition: background .3s ease;

                        background-color: transparent;
                    }
                }

                &:hover {
                    a {
                        @include textShadow();
                    }
                }
            }

            &::before,
            &::after {
                content: "~";
                display: inline-block;
                font-size: 2em;
                margin-bottom: 5px;
                line-height: 1;
            }

            &::after {
                margin-left: 10px;
            }

            &::before {
                margin-right: 10px;
                transform: scale(-1, 1)
            }

            @include breakpoint($bp-lg) {
                font-size: 18px;
            }
        }
        @include breakpoint($bp-md) {
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: height .4s ease, opacity .4s ease;
            ul {
                flex-direction: column;
                font-size: 24px;
                height: 100%;
                li {
                    margin: 0;
                    margin: 1em 0;
                }
                    &::before,
                    &::after {
                        margin: 0
                    }

                    @include breakpoint($bp-sm) {
                        font-size: 20px;

                        li {
                            margin: .6em 0;
                        }
                    }
            }

            &.active {
                height: calc(100vh - 58px);
                opacity: 1;
            }
        }
    }
}