.place {
    background: url('../assets/images/place/1.jpg') center no-repeat;
    background-size: cover;
    color: 	$color-primary;
    text-shadow: #4e4848 2px 2px 3px;

    position: relative;

    padding: 15vh 0 8vh 0;

    text-align: right;

    font-size: 20px;

    &::after {
        display: block;
        content: "";

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;

        background: rgba(#000, .15);
    }

    &__inner {
        position: relative;
        z-index: 1;
        margin-left: auto;
        max-width: 600px;

        padding: 2em;

        margin-top: 40vh;

        background: rgba($color-secondary, .6);
    }

    

    @include breakpoint($bp-sm) {
        text-align: center;
        font-size: 18px;
        padding: 10vh 0;

        &__inner {
            padding: 1em;
            margin: 0;
        }
    }

    &__title {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 1em;
    }

    &__text {
        font-size: 1.2em;
        font-weight: 500;
        margin: 0;
    }
}