
@font-face {
    font-family: Lato;
    src: url('../dist/assets/fonts/Lato-Light.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Lato;
    src: url('../dist/assets/fonts/Lato-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Lato;
    src: url('../dist/assets/fonts/Lato-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Lato;
    src: url('../dist/assets/fonts/Lato-Black.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Lato;
    src: url('../dist/assets/fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}