@import './fonts';
@import './vars';
@import './mixins';

$fa-font-path: 'assets/fonts';
@import '~font-awesome/scss/font-awesome';

body {
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    font-style: italic;

    &.overflowed {
        @include breakpoint($bp-md) {
            overflow: hidden
        }
    }
}


@import './blocks/main.scss';
@import './blocks/header.scss';
@import './blocks/time.scss';
@import './blocks/burger.scss';
@import './blocks/dear.scss';
@import './blocks/galery.scss';
@import './blocks/place.scss';
@import './blocks/map.scss';
@import './blocks/dress.scss';
@import './blocks/approve.scss';
@import './blocks/gift.scss';
@import './blocks/contacts.scss';

.hide {
    opacity: 0;
}